@using GrSU.University.Clients.Resources
@using GrSU.University.Clients.Resources.Entities
@model GrSU.University.Clients.Web.Models.StudentGroups.StudentGroupModel

@{
    ViewBag.Title = StudentGroup.TitleNew;
}

<h2>@StudentGroup.TitleNew</h2>

@using (Html.BeginForm("Index", "StudentGroups", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
}

<div>
    @Html.ActionLink(Navigation.GoToList, "Index")
</div>
