@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@GrSU.University.Clients.Resources.Errors.Error</title>
</head>
<body>
    <hgroup>
        <h1>@GrSU.University.Clients.Resources.Errors.Error.</h1>
        <h2>@GrSU.University.Clients.Resources.Errors.RequestProccesing</h2>
    </hgroup>
</body>
</html>
